.song-list {
  position: relative;
  margin: 5vw 0 10vw 5vw;
  display: flex;
  height: 33vw;
}

.song-list-img {
  height: 100%;
  border-radius: 1.5vw;
}

.up-date {
  margin: 1.5vw;
  position: absolute;
  bottom: 0;
  color: white;
  font-size: 0.8rem;
}

.list-more {
  width: 60vw;
  height: 100%;
}

.singleSong {
  font-size: 0.9rem;
  line-height: 11vw;
  text-align: left;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.footer {
  color: RGB(153, 153, 153);
  text-align: center;
  line-height: 20vw;
  height: 20vw;
  font-size: 0.8rem;
}
