@import url('https://fonts.googleapis.com/css2?family=Anek+Telugu:wght@300&family=Noto+Serif+SC:wght@200&display=swap');
body {
  margin: 0;
  font-family: 'Anek Telugu', sans-serif;
  font-family: 'Noto Serif SC', serif;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: RGB(90, 124, 171);
}

ol {
  list-style-position: inside;
  margin: 0;
  padding: 0 5vw;
}

.header {
  width: 100vw;
  text-align: center;
  line-height: 15vw;
  height: 15vw;
  border: none;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  position: fixed;
  z-index: 999;
}

.search-input {
  outline: none;
  border: none;
  background-color: RGB(247, 247, 247);
  margin: 21vw 6vw 6vw 6vw;
  height: 10vw;
  width: 85vw;
  border-radius: 5vw;
  text-indent: 2.5rem;
  font-size: 1.1rem;
}

.search-icon {
  position: absolute;
  top: 24vw;
  left: 9vw;
}
